[submodule "external/linear-algebra"]
	path = external/linear-algebra
	url = https://github.com/magestik/linear-algebra.git
[submodule "external/Remotery"]
	path = external/Remotery
	url = https://github.com/Celtoys/Remotery
